<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="nav-bar">
    <h1 class="title_container h1">The TECH BLOG</h1>


      <ul>
        <a class ="nav-btn" href="/"> Home </a>
        {{#if logged_in}}
        <a class ="nav-btn" href="/dashboard">Dashboard</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a class ="nav-btn" href="/login">Dashboard</a>
        <a class ="nav-btn" href="/login">Login</a>
        <a class ="nav-btn" href="/login">Logout</a>
        {{/if}}
      </ul>
    </nav>
  </header>

  <main class="container">
    {{{body}}}
  </main>

  <footer>
     <div class="footer-content">
    <p>&copy; 2024 The Tech Blog. All rights reserved.</p>
  </div>
  </footer>

  {{!-- <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
</body>

</html>
