{{#each posts as |post|}}
  <div class="post-container">
    <h2>{{post.title}}</h2>
    <p>{{post.text}}</p>
    <div class="post-info">
      <span>Date Created: {{post.date_created}}</span>
    </div>
  </div>
{{/each}}
